<%= render 'partial/navbar' %>
<div class="container">
  <div class="col-md-3">
    <!-- vertical-navbar -->
    <%= render 'partial/verticalnavbar'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <span style="font-size:24px;">住所の編集</span>
        </div>
      </div>

      <div class="panel-body">

        <%= form_for @listing do |f| %>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>〒 郵便番号から住所を検索 (保存はされません)</label>
                <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
                <!-- ▼郵便番号入力フィールド(7桁) -->
                <input f.text_field :preadd, placeholder= "例: 1234567", class="form-control", name="zip11" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');">
                <%= f.hidden_field :address %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>住所</label>
                <!-- ▼住所入力フィールド(都道府県+以降の住所) -->
                <%= f.text_field :address, placeholder: "例: 東京都港区六本木６丁目１１−１", class: "form-control", required: "true" , name:"addr11", id: "preadd" %>
                <!--上矢印　これ追加　, name:"addr11"　してね-->
              </div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "更新", class: "btn btn-success", onClick: 'setAddress()' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function setAddress() {
      var preadd = document.getElementById("preadd").value;
      document.getElementById('listing_address').value = preadd;
  }
</script>

