<%= render 'partial/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <span style="font-size:24px;">シェア寮を掲載する</span>
          </div>
        </div>

        <div class="panel-body">
          <!-- ここからフォーム -->
          <%= form_for @listing do |f| %>
            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>お家の種類</label>
                  <%= f.select :home_type, [["シェア寮","シェア寮"], ["シェアハウス","シェアハウス"], ["その他","その他"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>コンセプト</label>
                  <%= f.select :pet_type, [["エンジニア","エンジニア"], ["外国籍","外国籍"], ["その他","その他"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>性別</label>
                  <%= f.select :pet_size, [["男性","男性"], ["女性","女性"], ["共同","共同"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>築年数</label>
                  <%= f.select :breeding_years, [["5年以内","5年以内"], ["10年以内","10年以内"], ["20年以内","20年以内"],["20年以上","20年以上"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>
            <br>

            <div class="actions">
              <%= f.submit "Save", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


